body {
    height: 100vh;
    font-family: 'Outfit', sans-serif;
}
#body {
    display: flex;
    align-items: stretch;
    height: 100%;
}
#left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    background-image: url("images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    
}
#right-side {
    flex: 1;
    padding-left: 0.5rem;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    height: 150px;
    padding: 1rem;
    
}
h1 {
    text-align: center;
    color: white;
}
img {
    height: 150px;
}
#text {
    background-color: rgb(250, 248, 246);
    font-weight: bold;
    font-size: 1.2rem;
}
#form {
    display: flex;
}
input {
    font-family: 'Outfit', sans-serif;
    border: 1px solid gray;
}
input:focus {
    border: 4px solid blue;
}
fieldset {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
    border: none;
}
.form-row {
    display: flex;
    flex-direction: column;
}